name: Unit Tests

on:
  push: {}
    
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout to branch
      uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    - name: Run unit tests
      run: |
        python3 -m unittest tests/runner.py
